* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: bisque;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-btn {
  margin-bottom: 50px;
}

.wrapper-btn button {
  border: none;
  background-color: rgb(238, 226, 212);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5),
              inset 4px 4px 5px #fff;
}

.wrapper-btn button:hover {
  box-shadow: inset 2px 4px 5px rgba(0, 0, 0, 0.5),
              inset -4px -4px 5px #fff;
}

.wrapper-btn button {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.game {
  width: 500px;
  height: 500px;
  background-color: rgb(107, 134, 134);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.game {
  cursor: url('../../../img/icon-hammer.png'), auto;
}

.goblin {
  cursor: url('../../../img/icon-hammer-2.png'), auto;
}

.game-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);  
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 150px;
}

.game-over span {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.game-over_none {
  display: none;
}

.game__item {
  flex: 0 0 25%;
  border: 1px solid #000;
  position: relative;
}

.game__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.count {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: rgb(238, 226, 212);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}